<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>

<div id="main_menu" class="current">
    <h1>Rahul Patel's HomePage</h1>
</div>

<div id="main_content" class="white">
    <p>
    <span class="current makeBigger">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Sit amet massa vitae tortor condimentum. Neque sodales ut etiam sit amet nisl purus. Elit sed vulputate mi
    sit amet. Consectetur adipiscing elit pellentesque habitant morbi tristique. Viverra mauris in aliquam sem fringilla
    ut morbi tincidunt. Cursus metus aliquam eleifend mi in nulla posuere. Lorem ipsum dolor sit amet consectetur
    adipiscing elit pellentesque. Egestas congue quisque egestas diam in arcu cursus euismod. Urna et pharetra pharetra
    massa massa ultricies mi. Mi tempus imperdiet nulla malesuada pellentesque elit eget. Vitae purus faucibus ornare
    suspendisse sed nisi lacus sed. Ligula ullamcorper malesuada proin libero nunc. Eu turpis egestas pretium aenean
    pharetra magna. Non consectetur a erat nam at lectus urna. Cursus risus at ultrices mi tempus imperdiet nulla
    malesuada pellentesque. Tortor posuere ac ut consequat semper viverra nam. Morbi non arcu risus quis. Volutpat odio
    facilisis mauris sit amet. Fermentum odio eu feugiat pretium nibh.
    </p>
    <p>
    Adipiscing elit pellentesque habitant morbi. Pellentesque massa placerat duis ultricies lacus sed turpis. Erat nam
    at lectus urna duis convallis. Elementum eu facilisis sed odio morbi. Nunc pulvinar sapien et ligula ullamcorper
    malesuada proin libero nunc. Non enim praesent elementum facilisis leo vel fringilla est ullamcorper. Mi eget mauris
    pharetra et ultrices. Posuere urna nec tincidunt praesent semper feugiat. Porttitor rhoncus dolor purus non enim
    praesent elementum facilisis leo. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur adipiscing. Sed
    lectus vestibulum mattis ullamcorper velit sed ullamcorper. Ac tortor vitae purus faucibus ornare suspendisse sed
    nisi. Fames ac turpis egestas integer. Quam vulputate dignissim suspendisse in est ante in nibh mauris. At tellus at
    urna condimentum mattis pellentesque id nibh. Leo a diam sollicitudin tempor id eu nisl nunc. Nullam vehicula ipsum
    a arcu. Aliquet lectus proin nibh nisl condimentum id. Et netus et malesuada fames ac turpis egestas sed. Laoreet
    suspendisse interdum consectetur libero id.
    </p>
    <p>
    Turpis massa tincidunt dui ut ornare lectus sit amet. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam
    eget. Convallis posuere morbi leo urna molestie at. Cursus sit amet dictum sit amet justo donec enim. Adipiscing
    diam donec adipiscing tristique. Egestas fringilla phasellus faucibus scelerisque. Massa vitae tortor condimentum
    lacinia quis vel eros donec ac. Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Volutpat diam
    ut venenatis tellus in. Ultrices tincidunt arcu non sodales neque. Nisl nisi scelerisque eu ultrices vitae auctor.
    Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Tempor nec feugiat nisl pretium fusce. Imperdiet
    proin fermentum leo vel orci porta non pulvinar. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
    </p>
    <p>
    Amet consectetur adipiscing elit pellentesque habitant morbi tristique. Vitae sapien pellentesque habitant morbi
    tristique senectus et netus. Pellentesque diam volutpat commodo sed egestas. Amet venenatis urna cursus eget nunc
    scelerisque. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Commodo odio aenean sed adipiscing
    diam donec. Amet dictum sit amet justo. Purus in massa tempor nec feugiat nisl pretium. Morbi tristique senectus et
    netus. Massa vitae tortor condimentum lacinia quis vel eros. Commodo quis imperdiet massa tincidunt nunc. Mattis
    ullamcorper velit sed ullamcorper morbi. Nulla porttitor massa id neque aliquam. Vitae suscipit tellus mauris a.
    Dictum at tempor commodo ullamcorper a lacus vestibulum.
    </p>
    <p>
    Consectetur adipiscing elit ut aliquam. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Morbi tristique
    senectus et netus et malesuada fames ac turpis. Orci phasellus egestas tellus rutrum tellus pellentesque eu. Tellus
    elementum sagittis vitae et leo duis. Id consectetur purus ut faucibus pulvinar elementum integer enim. Quis ipsum
    suspendisse ultrices gravida dictum fusce ut. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt.
    Semper quis lectus nulla at volutpat. Vitae aliquet nec ullamcorper sit. Cras sed felis eget velit aliquet sagittis
    id consectetur. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Vitae ultricies leo integer
    malesuada nunc vel risus commodo. Vitae auctor eu augue ut lectus arcu bibendum. Vulputate mi sit amet mauris
    commodo quis imperdiet massa. Scelerisque purus semper eget duis at. Malesuada fames ac turpis egestas integer eget
    aliquet nibh praesent. Dui faucibus in ornare quam viverra orci sagittis.
    </p>
</div>

</body>
</html>
